# URL del microservicio Core (clientes, cuentas, transacciones, auth, notificaciones, feriados)
VITE_CORE_API_URL=http://localhost:8080

# URL del microservicio Switch (pagos masivos, lotes)
VITE_SWITCH_API_URL=http://localhost:8081

# URL del microservicio SFTP (buzón de archivos)
VITE_SFTP_API_URL=http://localhost:8082
